*.o
.deps/
.dirstamp
/aclocal.m4
/autom4te.cache/
/autotools/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/iodine
/iodined
/missing
/src/base64u.c
/src/base64u.h
/stamp-h1
/test-driver
/test-iodine
/test-iodine.log
/test-iodine.trs
/test-suite.log
Makefile
Makefile.in
